Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# (i) String
my_string = "Hello, world!"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14

# (iv) Tuple
my_tuple = (10, 20, 30, 40, 50)

In [5]:
print(my_string)
print(my_list)
print(my_float)
print(my_tuple)

Hello, world!
[1, 2, 3, 4, 5]
3.14
(10, 20, 30, 40, 50)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

The data types of the given variables are as follows:

(i) `var1` is a string because it is enclosed in single quotes, indicating a string literal. The content of the string is an empty space.

(ii) `var2` is also a string because it is enclosed in single quotes. The content of the string is '[ DS , ML , Python]'.

(iii) `var3` is a list because it is enclosed in square brackets []. The elements inside the list are strings: 'DS', 'ML', and 'Python'.

(iv) `var4` is a float because it contains a decimal point. The value of `var4` is 1.0, indicating a floating-point number.

To summarize:
- `var1` is a string.
- `var2` is a string.
- `var3` is a list.
- `var4` is a float.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Sure! Here's an explanation of the operators you mentioned along with examples:

(i) `/` (Division Operator):
The division operator `/` is used to perform division between two numbers and returns the quotient as a float. It performs normal division and includes the decimal portion of the result.

Example:
```python
a = 10
b = 3
result = a / b
print(result)
```
Output:
```
3.3333333333333335
```
In the example, the division operation `a / b` returns the result as a float, which is approximately 3.3333333333333335.

(ii) `%` (Modulo Operator):
The modulo operator `%` is used to find the remainder after division of one number by another. It returns the remainder as the result.

Example:
```python
a = 10
b = 3
result = a % b
print(result)
```
Output:
```
1
```
In the example, the modulo operation `a % b` returns the remainder 1 after dividing 10 by 3.

(iii) `//` (Floor Division Operator):
The floor division operator `//` is used to perform division between two numbers and returns the quotient as an integer. It performs division and rounds down the result to the nearest whole number.

Example:
```python
a = 10
b = 3
result = a // b
print(result)
```
Output:
```
3
```
In the example, the floor division operation `a // b` returns the quotient 3 after dividing 10 by 3 and rounding down the result.

(iv) `**` (Exponentiation Operator):
The exponentiation operator `**` is used to raise a number to a power.

Example:
```python
a = 2
b = 3
result = a ** b
print(result)
```
Output:
```
8
```
In the example, the exponentiation operation `a ** b` raises 2 to the power of 3, resulting in 8.

These operators are commonly used in mathematical calculations and can be useful in various programming scenarios.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [6]:
my_list = [1, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, (4, 5, 6), None, 'OpenAI', False]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 25}, Data Type: <class 'dict'>
Element: (4, 5, 6), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: OpenAI, Data Type: <class 'str'>
Element: False, Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f"A can be divided by B {count} times.")

A can be divided by B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
my_list = [12, 7, 18, 9, 15, 6, 21, 8, 27, 30, 17, 22, 10, 36, 13, 25, 33, 14, 19, 24, 16, 20, 31, 11, 28]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
9 is divisible by 3.
15 is divisible by 3.
6 is divisible by 3.
21 is divisible by 3.
8 is not divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
17 is not divisible by 3.
22 is not divisible by 3.
10 is not divisible by 3.
36 is divisible by 3.
13 is not divisible by 3.
25 is not divisible by 3.
33 is divisible by 3.
14 is not divisible by 3.
19 is not divisible by 3.
24 is divisible by 3.
16 is not divisible by 3.
20 is not divisible by 3.
31 is not divisible by 3.
11 is not divisible by 3.
28 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In Python, mutable and immutable are two fundamental concepts related to data types.

Immutable data types:
Immutable data types are those whose values cannot be changed after they are created. If any operation is performed on an immutable object, a new object is created with the updated value. Immutable objects are hashable and can be used as dictionary keys or elements of a set.

Examples of immutable data types in Python are:
- Numbers (int, float, complex)
- Strings (str)
- Tuples (tuple)

Here's an example to demonstrate the immutability of a string:
```python
str1 = "Hello"
print(str1)  # Output: Hello

str1 += " World"
print(str1)  # Output: Hello World
```
In the example, when we concatenate " World" to `str1`, a new string object is created with the updated value. The original string `"Hello"` remains unchanged.

Mutable data types:
Mutable data types are those whose values can be modified after they are created. Operations performed on mutable objects can modify the object in-place without creating a new object.

Examples of mutable data types in Python are:
- Lists (list)
- Sets (set)
- Dictionaries (dict)

Here's an example to demonstrate the mutability of a list:
```python
list1 = [1, 2, 3]
print(list1)  # Output: [1, 2, 3]

list1.append(4)
print(list1)  # Output: [1, 2, 3, 4]
```
In the example, when we use the `append()` method to add the element 4 to `list1`, the original list is modified in-place, and the element is added to the existing list.

To summarize, immutable data types cannot be modified once created, and any operation on them results in a new object. On the other hand, mutable data types can be modified in-place, and operations directly modify the existing object without creating a new one.